@{
    ViewData["Title"] = "Inicio";
}

<div> 
    <h1>Gestor de Despacho de Mercaderia</h1>
    <p>Sistema de Gestion de Pedidos - Programacion III</p>

<hr />

<h3>Integrantes</h3>

<ul>
    <li>Catriel Hubeli</li>
    <li>Rocio Saucedo</li>
    <li>Juan Fino</li>
</ul>

</div>
