@{
    ViewData["Title"] = "Acerca De";
}

<h1>Acerca del Sistema</h1>
<p>gestor de Despacho de Mercaderia - Programacion III</p>

<hr />

<h3>Modelo De Clases</h3>
<p>Imagen del modelo de clases del proyecto:</p>
<img src="~/img/modelo-clases.png" alt="Modelo de Clases" />

<hr />

<h3>Diagrama Entidad-Relación</h3>
<p>Imagen del diagrama de la base de datos:</p>
<img src="~/img/der.png" alt="Diagrama ER" />